/* CSS Style for login.html*/


/*General configurations*/
body{
  min-width:      1600px;
  height:         auto;
  max-height:     1000px;
  margin-top:     3px;
  margin-left:    0px;
  margin-right:   0px;
  margin-bottom:  1px;

  font-family: 'sans-serif', sans-serif;
  background: var(--bg-color) none repeat scroll 0% 0%;

  /*Color theme*/
  --primary-DEFAULT:      #113d72;
  --secondary-color:      #cccccc;
  --terciary-color:       #ffa300;
  --highlight:            #0c4e9b;
  --highlight2:           #5294e2;
  --primary-text:         #dfe7e3;
  --primary-text-dark:    #6c6c6c;
  --secondary-text:       #010302; 
  --bg-color:             #f9f7f2;


  /* Color scheme Login bar*/
  --login-background-color:         #0b2b52;
  --login-background-profile-color: #113d72;




  /* Color scheme All right section*/
  ---righ-background-color:   #ced7e2;

  /* Color scheme navbar*/
  ---navbar-background-color: #a9bcc0;


}

/* Font parameters*/
h1,h2,h3{
  font-weight: 720;
  color:       var(--primary-text)
}

h4,h5{
  font-weight: 500;
  color:       var(--primary-text)
}



/* Configurations for Login bar*/


.login-bar{
  position:           relative;
  background-color:   var(--login-background-color);
  width:              350px;
  height:             900px;
  border-right-style: solid;


}


.profile{
  position:           relative;
  margin-bottom:      30px;
  background-color:   var(--login-background-profile-color);
}

.profile-picture{
  position: relative;
  width:    213px;
  height:   213px;
  left:     72px;
  top:      35px;
}


.img-profile{
  position:           relative;
  width:              200px;
  height:             200px;
  top:                4px;
  left:               4px;
  border:             3px solid var(--secondary-color);
  border-radius:      100px;
}

.welcome-msg-box{
  position:       relative;
  top:            35px;
  left:           10px;
  width:          140px;
  height:         50px;
  font-size:      130%;
}

.welcome-msg{
  position: relative;
}


.profile-name-box{
  position:       relative;
  width:          auto;
  height:         56px;
  text-align:     center;
  top:            25px;
  background-color: aliceblue;
}

.nav-link-profile{
  position: relative;
  display: block;
  width: 225px;
  height: 39px;
  top: 10px;
  left: 68px;
  font-size: 200%;
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-text-dark);
}

.menu-box{
  position:           relative;
  padding-top:        10px;
  padding-bottom:     10px;
  background-color:   var(--highlight);
  top:                37px;
  width:              inherit;
  height:             400px;
}

.menu-title-box{
  position: relative;
  width:    140px;
  height:   45px;
  top:      0px;
  left:     100px;

}

.menu-title{
  position:       relative;
  font-weight:    inherit;
  font-size:      180%;
  left:           0px;
  top:            10px;
  text-align:     center;
  margin-bottom:  20px;
  margin-top:     10px;
  padding-bottom: 2px;
  padding-top:    2px;
}


.menu-options-box{
  position:   relative;
  width:      325px;
  height:     287px;
  top:        17px;
  left:       10px;
}

.button-menu{
  position:             relative;
  display:              block;
  width:                260px;
  height:               57px;
  padding:              6px 6px 6px 6px;
  text-decoration:      none;
  border-top-width:     2px;
  border-top-style:     solid;
  border-bottom-width:  2px;
  border-bottom-style:  solid;
  border-left-style:    solid;
  border-left-width:    2px;
  border-right-style:   solid;
  border-right-width:   2px;
  border-style:         solid;
  border-radius:        25px;
  margin-bottom:        25px;
  left:                 20px;
}

.botton-menu-style{
  font-weight: 400;
  background-color: var(--secondary-color);
  text-align: center;
}

.button-pos1{
  position: relative;
  top: 14px;
}

.button-pos2{
  position: relative;
  top: 14px;
  
}

.button-pos3{
  position: relative;
  top: 14px;
  
}

.menu-botton{
  text-decoration: none;
  font-size: 140%;
  color: black;
}

.button{
  position:         relative;
  text-decoration:  underline;
  color:            var(--primary-text);
  left:             60px;
  font-size:        108%;
  top:              10px;
}



/* Configurations for all right section*/
.all-right{
  position:   fixed;
  top:        -7px;
  left:       355px;
  width:      80%;
  height:     auto;
}


/* Configurations for Navigation bar*/

.nav-bar{
  position:         absolute;
  background-color: var(--highlight);
  width:            100%;
  height:           50px;
  top:              10px;
  left:             2px;
}

.nav-bar-section{
  position:         absolute;
  top:              13px;
  left:             150px;
}

.logo-navbar{
  position:         relative;
  font-size:        130%;
  font-weight:      550;
  color:            var(--terciary-color);
  text-decoration:  none;

}

.button-navbar1{
  position:             relative;
  display:              block;
  background-color:   #226bc1;
  color:              #010302;
  text-decoration:      none;
  border-style:         solid;
  border-radius:        20px;
  border-color:         var(--secondary-color);
  width:                80px;
  text-align:           center;
  height:               auto;
  left:                 700px;
}

.button-navbar2{
  position:           relative;
  display:            block;
  background-color: #226bc1;
  color:            #010302;
  text-decoration:    none;
  border-style:       solid;
  border-radius:      20px;
  border-color:       var(--secondary-color);
  width:              80px;
  text-align:         center;
  height:             auto;
  left:               800px;
}

.button-navbar3{
  position:               relative;
  display:                block;
  background-color:     #226bc1;
  color:                #010302;
  text-decoration:        none;
  border-style:           solid;
  border-radius:          20px;
  border-color:           var(--secondary-color);
  width:                  80px;
  text-align:             center;
  height:                 auto;
  left:                   900px;
}

/* Configurations for Carousell*/
.image-carousell{
  position:         relative;
  top:              200px;
  width:            80%;
  height:           auto;
}
.top-carousell{
  position:         relative;
  color:            var(--secondary-text);
  text-align:       center;
  bottom:           100px;
  left:             100px;
}

.carousell{
  position:         absolute;
  top:              0px;
  width:            1390px;
  height:           800px;
}

.img-carousell{
  position:         relative;
  transform:        scale(3);
  left:             750px;
  top:              160px;
  padding-bottom:   10px;
  padding-top:      10px;
  padding-right:    10px;
  background-color: var(--terciary-color);
  padding-left:     10px;
}