<!DOCTYPE html>
<html lang="en" class="h-100">
{% load static %}
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web-base multi digital signature tool">
    <meta name="author" content="TEC_IDM2022">

    <!-- CSS style -->
    <link rel="stylesheet" type="text/css" href="{% static 'cryt/history.css' %}">

    <!-- Icons-->
    <link rel="icon" href="{% static 'cryt/img/teleton-logo-30x30.png' %}" sizes="16x16" type="image/png">
    <meta name="theme-color" content="#7952b3">
    
    <!-- Title -->
    <title>Cryptocryt - myactivity</title>
</head>

<body>
    <!-- Section: Login left-side bar -->
    <section class="login-bar">
      <div class="profile">
        <!-- Profile picture -->
        <div class="profile-picture">
          <!--User profile picture-->
          <img class="img-profile img.rounded-circle" alt="Image user profile" src="{% static 'cryt/img/smileygirl.png' %}">
        </div>
        <div class="welcome-msg-box">
          <h3 class="welcome-msg">Welcome</h3>
        </div>
        <div class="profile-name-box">
          <a class="nav-link-profile" href="#">{{ user }}</a>
        </div>
      </div>
      <div class="menu-box">
        <!-- Inboxes for sign in-->
        <div class="menu-title-box">
          <h4 class="menu-title"> Menu </h4>
        </div>
        <div class="menu-options-box">
          <div class="button-menu botton-menu-style">
            <a class="menu-botton button-pos1" href="{% url 'mydocs' %}">My documents</a>
        </div>
        <div class="button-menu botton-menu-style">
            <a class="menu-botton button-pos2" href="{% url 'shared' %}">My shares</a>
        </div>
        <div class="button-menu botton-menu-style">
            <a class="menu-botton button-pos3" href="{% url 'history' %}">My Activity</a>
        </div>
        </div>     
      </div>
      
    </section>
    
    <!-- Section: Navigabition bar & Image carousell -->
    <section class="all-right-box">
      <nav class="nav-bar">
        <!-- Navigation bar -->
        <div class="nav-bar-section">
          <div class="menu-nav">
            <div class="backward-arrow-box">
              <a class="backward-arrow-link" href="{% url 'index' %}">
                <img class="backward-arrow-img" alt="Backward arrow" src="{% static 'cryt/img/barrow-40x40.png' %}">
              </a>
            </div>
          </div>
          <!-- Logo in navbar-->
          <div class="logo-teleton-box">
            <a class="logo-teleton-link" href="{% url 'index' %}">
              <img class="logo-teleton-img" alt="Teleton logo" src="{% static 'cryt/img/cryptocryt-logo-173x51.png' %}">
            </a>
          </div>
        </div>
        <div class="nav-bar-buttons-box">
          <div class="button-nav-box btn-nav-pos-1">
            <!-- placeholder for a button-->
            <a class="button-nav-box1" href="{% url 'verify' %}"> Verify</a>
          </div>
          <div class="button-nav-box btn-nav-pos-2">
            <!-- placeholder for a button-->
            <a class="button-navbar2" href="#"> Test</a>
          </div>
          <div class="button-nav-box btn-nav-pos-3">
            <!-- placeholder for a button-->
            <a class="button-navbar3" href="{% url 'account_logout' %}"> Log Out</a>
          </div>
        </div>
      </nav>
  
      <!-- My docs carousell-->
      <section class="toolbox-dsign-box">
        <div class="my_docs-box">
          <table>
            <tr class="param-my_docs">
              <th colspan="2" style="position: relative;left: 120px;">Operation</th>
              <th colspan="2" style="position: relative;left: 700px;">Timestamp</th>
            </tr>
            {% for event in events %}
            <tr>
              <td colspan="2" style="position: relative;left: 120px;">{{ event.operation }}</td>
              <td colspan="2" style="position: relative;left: 700px;">{{ event.timestamp }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </section>
    </section>
  </body>
</html>
